# 忽略特定文件
Enhanced DetailNet.py
Enhanced DetailNet.md
research.md
jisuantu.py
val.txt
test.txt
train.txt
AOC_RESNET.py
AOC.py
AUC_RESNET.py
AUC.py
data_annotator.py
data_cifar_annotator_class.py
pthChanage.py
resize.py
image.py
image_classifier.py
# evaluate.py
DataEnhancementTrainLR1e-6.py
ResNetevaluate.py
ResnetTrain.py
data_annotator.py
evaluate.py
jisuantu.py
loss_accuracy.py
model_resnet_summary.py
model_summary.py
resize.py
ResnetTrain.py
data_annotator.py
loss_accuracy.py
simulation-02.py
./model.py
feature_maps32_simulation_02
enhanced_detail_net
enhanced_detail_net_important
enhanced_detail_net_important1
enhanced_detail_net_important2
enhanced_detail_net_important3
important_node1
data/
feature_maps32/
feature_maps/
*.csv
*.log
*.pth
*.txt
*.bak
*old*
*.png
*.sh
*.ptha
*.JPG
*.out
*.onnx
*.txt~
*.zip